
/* General */
body {
  /* background: rgb(180,41,77);
  background: linear-gradient(276deg, rgba(180,41,77,1) 19%, rgba(37,15,181,1) 66%); */
}

a, p, h1, h2, h3, h4, h5, h6 {
  font-family: poppins;
  color: black;
}
