
.skills-content p{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: auto;
    justify-content: end;
    text-align: end;
}

.skills-content{
    padding: auto;
}

.progress-bar{
    background-color: rgb(62, 122, 235);
    height: 15px;
    border-radius: 1rem;
    transition: 1s ease;
    transition-delay: 0.5s;
  }

