.navbar {
    z-index: 2 !important;
    transition: 2s ease-in;
    overflow: hidden;
    background-image: linear-gradient( 68.4deg,  rgba(99,251,215,1) -0.4%, rgba(5,222,250,1) 100.2% );
}
.navbar ul li{
    margin-right: 100px;
}

.navbar a{
    padding: 10px 0 10px 100px;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}

.navbar a:hover{
    color: #d43076;
}

.navbar.active{
    background: rgb(33, 39, 56);
}
